.container-fluid{
    display: flex;
    padding: 15px;
}
.navbar-brand{
    font-size: 33px;
    align-self: center;
}
.nav-link{
    font-size: 22px;
    align-self: center;
}

.speech{
    margin: 120px;
    margin-top: 150px;
}
p{
    font-size: 25px;
}